services:
  - type: web
    name: campus-match
    runtime: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: matchmaker-db
          property: connectionString

  - type: postgres
    name: matchmaker-db
    ipAllowList: []
    databaseName: matchmaker
    user: matchmaker